/*--- Variables --- */

$main-font: 'Product Sans', sans-serif;
$header-font: 'Product', sans-serif;

$nav-footer-spacing: 30px 0;
$section-spacing: 20px 0;

$navy: #264653;
$green: #2A9D8F;
$yellow: #E9C46A;
$orange: #F4A261;
$red: #E76F51;


/*--- Sections --- */

body {
    margin: 0 auto;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
}

.header {
    background: $navy;
}

.section {
    padding: $section-spacing;
    overflow: auto;
    text-align: center;
}

.banner {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background-color: $green;
    color: white;
    height: 500px;
    position: relative;
    
    .left {
    }
    
    .right { 
        padding-top: 12%;
    }
    
}

.projects {
    background-color: $orange;
}

.about {
    background-color: $red;
}

.contact {
    background-color: $yellow;
}

footer {
    padding: $nav-footer-spacing;
    background-color: $navy;
    color: white;
    width: 100%;
    margin: 0 auto;
    overflow: auto;

    .two-column {
        width: 80%;
        margin: 0 auto;
    }
}

/* ---  Navigation --- */

.primary-nav {
    width: 80%;
    overflow: auto;
    margin: 0 auto;
    
    ul {
        color: white;
        list-style: none;
        padding: 10px 0;
        
    }
    
    li {
        display: inline-block;
        padding: 15px 20px;
    }
    
    a:hover {
        opacity: .5;
    }
    
    h1 {
        padding: 20px 0;
        color: white;
    }
}

/* --- Forms --- */


/* --- Buttons --- */

#resume-btn, #projects-btn {
    background: none;
    border: 3px solid white;
    margin-top: 20px;
    padding: 5px 20px;
    color: white;
    font-weight: 700;
    font-family: inherit;
    font-size: inherit;
}

#projects-btn { 
    margin-left: 3%;
}


/* --- Images --- */

#logo {
    
}

#banner {
    width: 100%;
    padding: 0 auto;
    margin: 0 auto;
    object-fit: fit;
}


/* --- Columns --- */

.primary-nav {
    .left {
        float: left;
        width: 30%;
    }

    .right {
        float: right;
        width: 70%;
        text-align: right;
    }
}

.two-column {

    .left {
        float: left;
        width: 50%;
    }

    .right {
        float: right;
        width: 50%;
    }
}

.three-column {
    margin: 20px auto;
    overflow: hidden;

    .left {
        float: left;
        width: 30%;
    }

    .right {
        float: right;
        width: 30%;
    }

    .center {
        display: inline-block;
        width: 30%;
    }

}


/*--- Typography --- */

body {
    font-family: $main-font;
    font-size: 14px;

}

h1 {
    font-family: $header-font;
    font-size: 45px;
    margin: 0 auto;
}

h2 {
    font-family: $header-font;
    font-size: 40px;
    margin: 0 auto;
}

h3 {
    font-family: $header-font;
    font-size: 20px;
}

h4 {
    font-family: $header-font;
    font-size: 18px;
    text-align: left;
    margin: 0;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: inherit;
    margin: 0 auto;

}
