/*--- Variables --- */

$main-font: 'Roboto',
sans-serif;
$header-font: 'Playfair Display',
serif;

$nav-footer-spacing: 30px 10%;
$section-spacing: 60px 10%;

$navy: #264653;
$green: #2A9D8F;
$yellow: #E9C46A;
$orange: #F4A261;
$red: #E76F51;

$beige:#fff6f0;
$dark-beige: #dea783;


/*--- Sections --- */

body {
    margin: 0 auto;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
}

.header {
    background: $beige;

}

.section {
    padding: $section-spacing;
    overflow: hidden;
    text-align: center;
}

.banner {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    background-color: black;
    color: white;
    position: relative;

    img {
        opacity: .5;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

}

.projects {
    background-color: $beige;

    h2 {
        color: $dark-beige;
    }

    h3,
    p {
        text-align: center !important;
        padding: 0 40px;
    }

    .left,
    .right,
    .center {
        background-color: white;
        padding: 20px 0;
        box-shadow: 0 8px 15px -8px black !important;
    }

}

.about {
    background-color: $dark-beige;
    color: white;

    .about-box {
        border: 3px solid white;
        display: block;
        margin-top: 40px;
        height: 450px;
    }

    .left {
        border-right: 2px solid white;
    }

    .right {
        text-align: left !important;
    }
}

.contact {
    background-color: $beige;

    h2 {
        color: $dark-beige;
    }
}

footer {
    padding: $nav-footer-spacing;
    background-color: $beige;
    color: $dark-beige;
    margin: 0 auto;
    overflow: auto;

    .two-column {
        width: 100%;
        margin: 0 auto;
    }
}

/* ---  Navigation --- */

.primary-nav {
    width: 79%;
    overflow: auto;
    margin: 0 auto;
    color: $dark-beige;

    ul {
        color: white;
        list-style: none;
        padding: 20px 0 0;
        color: $dark-beige;
        font-weight: 700;

    }

    li {
        display: inline-block;
        padding: 15px 20px;
    }

    a:hover {
        opacity: .5;
    }

    h1 {
        padding: 20px 0;
        color: $dark-beige;
    }
}

/* --- Forms --- */


/* --- Buttons --- */

#resume-btn,
#projects-btn {
    background: none;
    border: 3px solid white;
    margin-top: 20px;
    padding: 5px 20px;
    color: white;
    font-weight: 700;
    font-family: inherit;
    font-size: inherit;
}

#projects-btn {
    margin-left: 3%;
}


/* --- Images --- */

#logo {}

#banner {
    width: 100%;
    padding: 0 auto;
    margin: 0 auto;
}


/* --- Columns --- */

.primary-nav {
    .left {
        float: left;
        width: 30%;
    }

    .right {
        float: right;
        width: 70%;
        text-align: right;
    }
}

.two-column {
    margin: 40px auto !important;

    .left {
        float: left;
        width: 48%;
    }

    .right {
        float: right;
        width: 48%;
    }
}

.three-column {
    margin: 40px auto;

    .left {
        float: left;
        width: 30%;
    }

    .right {
        float: right;
        width: 30%;
    }

    .center {
        display: inline-block;
        width: 30%;
    }

}


/*--- Typography --- */

body {
    font-family: $main-font;
    font-size: 14px;

}

h1 {
    font-family: $header-font;
    font-size: 45px;
    margin: 0 auto;
}

h2 {
    font-family: $header-font;
    font-size: 40px;
    margin: 0 auto;
}

h3 {
    font-family: $main-font;
    font-size: 20px;
}

h4 {
    font-family: $main-font;
    font-size: 18px;
    text-align: left;
    margin: 0;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: inherit;
    margin: 0 auto;

}
