/*--- Variables --- */
/*--- Sections --- */
body {
  margin: 0 auto;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
}

.header {
  background: #fff6f0;
}

.section {
  padding: 60px 10%;
  overflow: hidden;
  text-align: center;
}

.banner {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: #dea783;
  color: white;
  height: 500px;
  position: relative;
}
.banner .two-column {
  margin: 0 auto !important;
}
.banner .right {
  padding-top: 12%;
}

.projects {
  background-color: #fff6f0;
}
.projects h2 {
  color: #dea783;
}
.projects h3,
.projects p {
  text-align: center !important;
  padding: 0 40px;
}
.projects .left,
.projects .right,
.projects .center {
  background-color: white;
  padding: 20px 0;
  box-shadow: 0 8px 15px -8px black !important;
}

.about {
  background-color: #dea783;
  color: white;
}
.about .about-box {
  border: 3px solid white;
  display: block;
  margin-top: 40px;
  height: 450px;
}
.about .left {
  border-right: 2px solid white;
}
.about .right {
  text-align: left !important;
}

.contact {
  background-color: #fff6f0;
}
.contact h2 {
  color: #dea783;
}

footer {
  padding: 30px 10%;
  background-color: #fff6f0;
  color: #dea783;
  width: 100%;
  margin: 0 auto;
  overflow: auto;
}
footer .two-column {
  width: 80%;
  margin: 0 auto;
}

/* ---  Navigation --- */
.primary-nav {
  width: 79%;
  overflow: auto;
  margin: 0 auto;
  color: #dea783;
}
.primary-nav ul {
  color: white;
  list-style: none;
  padding: 20px 0 0;
  color: #dea783;
  font-weight: 700;
}
.primary-nav li {
  display: inline-block;
  padding: 15px 20px;
}
.primary-nav a:hover {
  opacity: 0.5;
}
.primary-nav h1 {
  padding: 20px 0;
  color: #dea783;
}

/* --- Forms --- */
/* --- Buttons --- */
#resume-btn,
#projects-btn {
  background: none;
  border: 3px solid white;
  margin-top: 20px;
  padding: 5px 20px;
  color: white;
  font-weight: 700;
  font-family: inherit;
  font-size: inherit;
}

#projects-btn {
  margin-left: 3%;
}

/* --- Images --- */
#banner {
  width: 100%;
  padding: 0 auto;
  margin: 0 auto;
}

/* --- Columns --- */
.primary-nav .left {
  float: left;
  width: 30%;
}
.primary-nav .right {
  float: right;
  width: 70%;
  text-align: right;
}

.two-column {
  margin: 40px auto !important;
}
.two-column .left {
  float: left;
  width: 48%;
}
.two-column .right {
  float: right;
  width: 48%;
}

.three-column {
  margin: 40px auto;
}
.three-column .left {
  float: left;
  width: 30%;
}
.three-column .right {
  float: right;
  width: 30%;
}
.three-column .center {
  display: inline-block;
  width: 30%;
}

/*--- Typography --- */
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 45px;
  margin: 0 auto;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  margin: 0 auto;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-align: left;
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: inherit;
  margin: 0 auto;
}

/*# sourceMappingURL=output.css.map */
